.about {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

.aboutBottom p {
  max-width: 1200px;
  width: 90%;
  font-size: 1.1rem;
  line-height: 1.6;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  transform: translateY(-40px);
}

@media (max-width: 768px) {
  .aboutBottom p {
    font-size: 1rem;
  }

  .about .aboutBottom h1 {
    font-size: 40px;
    transform: translateY(-10px);
  }
}