.contact {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.contact .leftSide,
.contact .rightSide {
  flex: 50%;
  height: auto;
  min-height: 300px;
}

.contact .leftSide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  padding: 10px 0;
}

form textarea {
  margin-top: 15px;
  height: 100px;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form label {
  margin-top: 15px;
  color: grey;
}

form button {
  margin-top: 30px;
  width: 150px;
  height: 45px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact .leftSide,
  .contact .rightSide {
    flex: 100%;
    width: 100%;
  }

  .contact .rightSide h1 {
    font-size: 35px;
  }

  form button {
    width: 100%;
  }
}