.footer {
  width: 100%;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
}

.socialMedia svg {
  color: white;
  margin: 15px;
  font-size: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.socialMedia svg:hover {
  color: #f1c40f;
}

.footer p {
  color: white;
  font-size: 0.9rem;
  text-align: center;
}